body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
    color: #333;
}

header {
    background: linear-gradient(90deg,#19856f,rgb(112, 112, 111),rgb(95, 45, 92));
    color: #fff;
    text-align: center;
    padding: 20px;
}
.title-bar {
    background-color: #333; 
    color: #fff; 
    padding: 10px;
}
/* Implement the symbol using media querry */

.title-bar h1 {
    margin: 0;
}

section {
    margin: 20px;
}
.menu-icon {
    font-size: 24px; 
    cursor: pointer;
}
nav ul {
    list-style: none;
    padding: 0;
    display: flex;
}

nav li {
    margin: 0 15px;
}
nav{
    display: none;
}
nav.active{
    display: block;
}
nav a {
    text-decoration: none;
    color: #fff; 
    font-weight: bold;
}

nav a:hover {
    color: #ffcc00; 
}

#linkedin{
    width: 30px;
    margin-right: 10px;
    display: inline;
}
#hackerrank{
    width: 30px;
    height: 30px;
    display: inline;
    margin-right: 10px;
}
#github {
    display: inline-block; /* This makes each container appear on the same line */
    margin-right: 10px; /* Adjust the margin between icons as needed */
    width: 50px;
    height: 30px;
}

/*  */
footer {
    text-align: center;
    padding: 10px;
    background-color: #1d4d40;
    color: #fff;
}
.project-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    opacity: 0;
    transform: translateX(-50px); /* Initial position off-screen to the left */
    transition: opacity 0.7s ease, transform 0.5s ease;
}
li{
    padding: 10px;
    font-size: large;
}
.project-container.in-view {
    opacity: 1;
    transform: translateX(0);
}

.project {
    position: relative;
    width: 45%; /* Adjust the width as needed */
    margin-bottom: 20px;
    overflow: hidden;
}
#header-id{
    display: flex;
    align-items: center; 
    /* justify-content: space-evenly; */
    text-justify:initial;
}
#header-id h1{
    margin-left: 11.5%;
    font-weight: bolder;
    font-stretch: expanded;
    font-size: 50px;
}
#header-id img{
    width: 50%;
    vertical-align: middle;
    border-radius: 50%;
    border : solid  white;
    margin-right: 20%;
    margin-left: 3%;
}
.project img {
    width: 100%;
    height: 100%;
    transition: transform 0.4s ease-in-out;
    border-radius: 15px;
}

.project:hover img {
    transform: scale(1.11);
}
#gitlink{
    background-color: white;
    border-radius: 10%;
}
.project-details {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 96%;
    background-color: rgba(18, 17, 17, 0.7); 
    color: #fff;
    padding: 20px;
    border-radius: 10px;
    transform: translateY(100%);
    transition: transform 0.4s ease-in-out;
    border-top: 5px solid rgb(222, 166, 23);
}

.project:hover .project-details {
    transform: translateY(0);
}
.animated {
    opacity: 0;
    transform: translateY(80px); /* Adjust the initial position based on your preference */
    transition: opacity 0.3s ease, transform 0.3s ease;
}

/* Apply the animated class when the element enters the viewport */
.animated.in-view {
    opacity: 1;
    transform: translateY(0);
}
#abouttext {
    opacity: 1;
    padding: 10px;
    transform: translateY(-10px);
    /* font-style: oblique; */
    font-size: large;
    font-stretch: ultra-expanded;
    font-weight: 530;
    transition: opacity 0.7s ease, transform 0.7s ease;
}

#abouttext.in-view {
    opacity: 1;
    transform: translateY(0px);
}
@media screen and (max-width: 768px) {
    nav li {
        margin: 0 10px; /* Adjust margin for smaller screens */
    }
}

@media screen and (max-width: 480px) {
    nav li {
        margin: 0 5px; /* Further adjust margin for smaller screens */
    }
}